.namebox{
    background: teal;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    bottom: 0px;
    color: whitesmoke;
}
body{
    background-image: url("doodles.png");
    background-repeat: repeat;
}
.jumbotron{
    margin: 50px;
}
.leftfloat{
    float: left;
    margin: 10px;
}
h1{
    color:teal;
}
footer{
    background: gray
}